<div class="my-component">
    <p>This component is defined in the <strong>ServiceOne.MicroFrontend</strong> library.</p>

    <p>@Page</p>
</div>

@code {
    [Parameter]
    public string? Page { get; set; }
}