/* _content/ServiceOne.MicroFrontend/Root.razor.rz.scp.css */
.my-component[b-4m3ued1bz3] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
