/* _content/ServiceTwo.MicroFrontend/Details.razor.rz.scp.css */
.my-component[b-dopvie1ite] {
    border: 2px dashed green;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/ServiceTwo.MicroFrontend/Root.razor.rz.scp.css */
.my-component[b-ij49qz9il9] {
    border: 2px dashed green;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
