@page "/details/{id:int}"

@inject NavigationManager Nav

<div class="my-component">
    <p>This component is defined in the <strong>ServiceTwo.MicroFrontend</strong> library.</p>

    <p>@Nav.Uri</p>

    <p><NavLink href="/service-two">Index</NavLink></p>

    <p><NavLink href="@($"/service-two/details/{(Id + 1)}")">Next</NavLink></p>
</div>

@code {
    [Parameter] public int Id { get; set; }
}