@page "/details"
@inject NavigationManager Nav

<div class="my-component">
    <p>This component is defined in the <strong>ServiceTwo.MicroFrontend</strong> library.</p>

    <p>@Nav.Uri</p>

    <p><NavLink href="/service-two">Index</NavLink></p>
</div>
