@layout MainLayout

@using System.Runtime.Loader
@using System.Reflection

@page "/{slug}"
@page "/{slug}/{*page}"

<h3>@Slug / @Page</h3>

@if (Component != null)
{
    <DynamicComponent Type=@Component Parameters=@ComponentParameters />
}
